.ex-1-square{
  transition: 3s;
}

.ex-1-square:hover{
  background-color: red;
}

.ex-2-square{
  transition: 3s;
}

.ex-2-square:active{
  width: 100%;
}

.ex-3-square{
  transition: 1s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: 3s;
}

.ex-4-square:hover{
  background-color: #F5F5F5;
}

.ex-5-square{
  transition: 3s;
}

.ex-5-square:hover{
  transform: scale(2);
}

.ex-5-square:active{
  transform: scale(0.5);
}

.ex-6-img{
  transition: 0s;
}

.ex-6-img:hover{
  filter: grayscale();
}

.ex-7-img{
  transition: 2s;
}

.ex-7-img:hover{
  filter: sepia(0.8);
}

.ex-8-img{
  transition: 2s;
}

.ex-8-img:hover{
  filter: sepia(0.5);
  filter: grayscale(0.7);
  border-radius: 20px;
}

.ex-9-img{
  transition: 2s;
}

.ex-9-img:hover{
  border-radius: 20px;
  transform: scale(1.5);
  filter: sepia(0.5);
  filter: grayscale(0.6);
}

.ex-10-icon{
  animation: cerchietto infinite 1s linear;
}

@keyframes cerchietto{
  0%{
    transform: rotate(360deg);
  }
}

.ex-11-icon:hover{
  animation: cerchietto2 infinite 3s linear;
}

@keyframes cerchietto2{

  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(100deg);
  }
  
  50%{
    transform: rotate(200deg);
  }
  
  75%{
    transform: rotate(320deg);
  }
}

.ex-12-button:hover .ex-12-top-white{
  animation: rettangolotop 2s linear;
}

@keyframes rettangolotop{
  0%{
    left: 0;
  }
  50%{
    left: calc(100% - 60px);
  }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: rettangolobotton 2s linear;
}

@keyframes rettangolobotton{
  0%{
    right: 0;
  }
  50%{
    right: calc(100% - 60px);
  }
}

.ex-13-button:hover .ex-13-top-white{
  animation: rettangolo1 2s linear;
}

@keyframes rettangolo1{
  0%{
    left: 20%;
  }
  50%{
    left: calc(100% - 60px);
  }

  100%{
    
  }


}




